S3method(print,solarPolygenic)
S3method(summary,solarPolygenic)
export(df2solar)
export(histKinship2)
export(imageKinship2)
export(loadMulticData)
export(plotKinship2)
export(solar)
export(solarKinship2)
export(solarPolygenic)
export(solarReadFiles)
exportClasses(solarPolygenic)
importFrom(Matrix,Matrix)
importFrom(Matrix,image)
importFrom(gdata,write.fwf)
importFrom(ggplot2,qplot)
