  <div class="col-md-3 col-md-push-9 nav-tutorial">
    <ul class="nav">
      <li><a href="{{ site.url }}/pages/polygenic/polygenic.html">Polygenic model (univariate)</a></li>
        <ul class="nav">
          <li><a href="#covariates">Covariates</a></li>
          <li><a href="#mod_files">.mod files</a></li>
          <li><a href="#house_hold">House-hold</a></li>
        </ul>
      <li><a href="{{ site.url }}/pages/bivariate/bivariate.html">Polygenic model (bivariate)</a></li>
        <ul class="nav">
          <li><a href="#covariates">Trait-specific covariates</a></li>
        </ul>      
    </ul>
  </div>

  <div class="col-md-9 col-md-pull-3" role="main">
  <div class="tutorial">
    <h2 id="{{ page.title_id }}">{{ page.title }}</h2>
    {{ content }}
  </div>
  </div>

